JsonUtils/obj/
Core/obj/
JsonUtils/Properties/PublishProfiles/
Core/bin/
JsonUtils/bin/
JsonUtils/JsonUtils.csproj.user
JsonUtils.v11.suo
JsonUtils.v12.suo
Deploy/
JsonCSharpClassGeneratorLib/bin/
JsonCSharpClassGeneratorLib/obj/
packages2/
packages/
# Compiled Source Code
######################
build/
bin/
obj/
*.com
*.class
*.dll
*.exe
*.pdb
*.tlb
*.dll.config

# User State
############
*.cache
*.user
*.suo
*.sln.cache
*.sln.docstates
*.dbmdl
_ReSharper*
*.vspscc
*.vssscc

# Visual Studio Profiler
########################
*.psess
*.vsp
*.vspx

# Visual Studio Upgrade Files
#############################
UpgradeLog.XML
_UpgradeReport_Files/
Backup*/

# Test Artifacts
################
TestResults/

# Logs
######
*.Publish.xml
*.log
*.tmp
log.txt
Import Schema Logs/

# Packages
##########
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.csx
*.build.csdef

# Operating System Files
########################
.DS_Store?
ehthumbs.db
Thumbs.db
Source/UI/log/
Source/UI/App_Data/logfile.txt
*.pubxml
**/.vs/
# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
#
# Vim files 
*.*~
*.*sw?
# linq pad files
*.linq
#
# Visual Studio
#
*.RunSettings

